@use "../../scss/" as *;

.contact-us__header {
    padding: 9rem 0 2rem;
    text-align: center;
    margin-bottom: 2rem;

    position: relative;

    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    h2{
        position: relative;
        z-index: 50;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
    }
}

.contact-us {
    height: 100vh;
    display: flex;

    @include mobile {
        flex-direction: column;
        text-align: center;
        margin-top: 1rem;
        height: 85vh;
    }

    &__left {
        flex: 1;

        @include mobile {
            padding: 1rem;
        }

        .title {
            padding: 0 2rem;
            @include flex(center, space-between);
            font-size: 1.3rem;
            font-weight: 700;
            line-height: 1.5;
            margin-bottom: 2rem;

            @include tablet {
                font-size: 1.5rem;
            }

            @include mobile {
                font-size: 1.3rem;
            }
        }

        .whatsapp {
            margin-top: 2rem;
            
            h3 {
                @include flex(center, center);
                margin-bottom: 2rem;
            }

            &__btn {
                @include flex(center, center);
                margin-bottom: 2rem;
            }

            &__btn-content {
                @include flex(center, unset);

                img {
                    margin-right: 10px;
            
                    @include mobile {
                        width: 2rem;
                        height: 2rem;
                        margin-right: 5px;
                    }
                }
            }  
        }

        form {
            margin-top: 2rem;
    
            @include mobile {
                margin-top: 0rem;
            }

            .form-btn {
                @include flex(center, center);
            }
        }
    
        .input {
            width: 44%;
            height: 3rem;
            border: none;
            margin: 1rem 0rem 1rem 1rem;
            font-size: 1rem;
            padding-left: 1rem;
            background-color: #333;
            color: #fff;
            border-radius: .5rem;
    
            @include mobile {
                margin: 1rem;
            }
        }
    
        .textarea {
            width: 90.5%;
            border: none;
            margin: 1rem 0 1rem 1rem;
            font-size: 1rem;
            padding: 0 1rem;
            background-color: #333;
            color: #fff;
            border-radius: .5rem;
            min-height: 100px;
            resize: vertical;
    
            @include mobile {
                margin: 1rem;
                min-height: 50px;
            }
        }
    }

    &__right {
        @include flex(center, center);
        flex: 1;
        height: 100%;
        position: relative;

        @include mobile {
            padding: 1rem;
            width: 100%;
        }

        iframe {
            height: 100%;
            width: 100%;
            border-radius: 1rem;
            position: relative;

            @include mobile {
                width: 90%;
            }
        }
    }
}

